/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  margin: 0;
}

button {
  font-family: var(--sans-serif);
}

.elm-datepicker--container {
  position: relative;
}

.elm-datepicker--input {
  text-align: center;
  font-size: 2rem;
}
.elm-datepicker--input:focus {
  outline: 0;
}

.elm-datepicker--picker {
  position: absolute;
  border: 1px solid #ccc;
  z-index: 10;
  background: #ffffff;
}

.elm-datepicker--picker-header,
.elm-datepicker--weekdays {
  background: #f2f2f2;
}

.elm-datepicker--picker-header {
  display: flex;
  align-items: center;
}

.elm-datepicker--prev-container,
.elm-datepicker--next-container {
  flex: 0 1 auto;
}

.elm-datepicker--month-container {
  flex: 1 1 auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.elm-datepicker--month,
.elm-datepicker--year {
  flex: 1 1 auto;
  cursor: default;
  text-align: center;
}

.elm-datepicker--year {
  font-size: 0.6em;
  font-weight: 700;
}

.elm-datepicker--prev,
.elm-datepicker--next {
  border: 6px solid transparent;
  display: block;
  width: 0;
  height: 0;
  padding: 0 0.2em;
}

.elm-datepicker--prev {
  border-right-color: #aaa;
}
.elm-datepicker--prev:hover {
  border-right-color: #bbb;
}

.elm-datepicker--next {
  border-left-color: #aaa;
}
.elm-datepicker--next:hover {
  border-left-color: #bbb;
}

.elm-datepicker--table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.8em;
}
.elm-datepicker--table td {
  width: 2em;
  height: 2em;
  text-align: center;
}

.elm-datepicker--row {
  border-top: 1px solid #f2f2f2;
}

.elm-datepicker--dow {
  border-bottom: 1px solid #ccc;
  cursor: default;
}

.elm-datepicker--day {
  cursor: pointer;
}
.elm-datepicker--day:hover {
  background: #f2f2f2;
}

.elm-datepicker--disabled {
  cursor: default;
  color: #ddd;
}
.elm-datepicker--disabled:hover {
  background: inherit;
}

.elm-datepicker--picked {
  color: white;
  background: darkblue;
}
.elm-datepicker--picked:hover {
  background: darkblue;
}

.elm-datepicker--today {
  font-weight: bold;
}

.elm-datepicker--other-month {
  color: #aaa;
}
.elm-datepicker--other-month.elm-datepicker--disabled {
  color: #eee;
}
.elm-datepicker--other-month.elm-datepicker--picked {
  color: white;
}
